/* ==========================================================================
Hero styles
========================================================================== */

.hero-body {
    padding-top: 6rem;
    padding-bottom: 6rem;
    z-index: 3;
    .title, .subtitle {
        font-family: 'Afacad Flux', sans-serif;
    }
    .title {
        &.is-bold {
            font-weight: 700;
        }
    }
    .subtitle {
        &.is-muted {
            color: $muted-grey;
        }
    }
}

.hero-foot {
    img.partner-logo {
        height: 70px;
    }
    z-index: 3;
}

.hero-text {
    z-index: 3;
}

.hero-background {
    // background div for hero
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $white;
}

.hero-no-pointer {
    pointer-events: none;
}

.hero-pointer {
    pointer-events: auto;
}

.hero-outline {
    border: 1px solid $border-grey;
    border-radius: 5px;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 3;
}