<div id="container"></div>
<script type="module">

import * as d3 from "https://cdn.jsdelivr.net/npm/d3@7/+esm";

// Declare the chart dimensions and margins.

var width = $(window).width();
var height = $(window).height();

const primaryPossibilities = [
    "#3BA951",
    "#A463F2",
    "#EFB116",
    "#6CC5B0",
    "#F9D342",
    "#F9844A",
    "#FF715C",
]
const primaryColor = primaryPossibilities[Math.floor(Math.random() * primaryPossibilities.length)];

const colorMap = {
    main: "#3465FB",
    primary: primaryColor,
    secondary: "#666666"
};

const distanceMap = {
    main: 150,
    primary: 20,
    secondary: 20
};

const radiusMap = {
    main: 50,
    primary: 15,
    secondary: 5
};

// Specify the color scale.
const color = d3.scaleOrdinal(d3.schemeCategory10);

// Create the SVG container.
const svg = d3.create("svg")
    .attr("width", width)
    .attr("height", height)
    .attr("viewBox", [-width / 2, -height / 2, width, height])
    .attr("style", "max-width: 100%; height: auto;");

// create a random number generator with uniform distribution
// between 0 and 100
// starting from a seed value
const seed = 0.32132;
const rng = d3.randomUniform.source(d3.randomLcg(seed))(0, 1000);

const mainNode = [width, width, "main"];

// create 10 points in a circle around the main node
const primaryNodes = d3.range(12).map(i => {
    const angle = i / 12 * Math.PI * 2;
    return [mainNode[0] + Math.cos(angle) * 200, mainNode[1] + Math.sin(angle) * 200, "primary"];
});

// connect the main node to the primary nodes
const mainNodeLinks = primaryNodes.map(node => ({source: mainNode, target: node, type: "main"}));

// Create 5-15 points around each of the primary nodes
// connect them and the primary nodes
const nodes = [];
const links = [];
primaryNodes.forEach((primaryNode, i) => {
    const n = Math.floor(Math.random() * 10) + 7;
    const newNodes = d3.range(n).map(() => [primaryNode[0] + rng() * 10, primaryNode[1] + rng() * 10, "secondary"]);
    nodes.push(...newNodes);
    newNodes.forEach(node => links.push({source: primaryNode, target: node, type: "primary"}));
});
// add primary nodes to the nodes array
nodes.push(...primaryNodes);
// add the main node to the nodes array
nodes.push(mainNode);
// add the links between the main node and the primary nodes
links.push(...mainNodeLinks);

function spinForce(alpha) {
  for (let i = 0, n = nodes.length, node, distx, disty, k = 0.1; i < n-1; ++i) {
    node = nodes[i];
    distx = node.x - nodes[n-1].x;
    disty = node.y - nodes[n-1].y;
    node.x = 1 / distx * k;
    node.y = 1 / disty * k;
  }
}

// Create a simulation with several forces.
const simulation = d3.forceSimulation(nodes)
    .force("link", d3.forceLink(links).id(d => d.id).distance(d => distanceMap[d.type]).strength(0.6))
    .force("charge", d3.forceManyBody().strength(-300))
    .force("x", d3.forceX())
    .force("y", d3.forceY())
    // .force("spin", spinForce)

// add restoring force to the main node to root location
// if the window width is less than 600, change change root location to be in the center top
if (width < 600) {
    simulation.force("mainNode", d3.forceRadial(200, 0, -height / 3).strength(0.05).radius(d => d[2] === "main" ? 0 : 0));
} else {
    simulation.force("mainNode", d3.forceRadial(200, width/2, -height/8).strength(0.05).radius(d => d[2] === "main" ? 0 : 0));
}
// Add a line for each link, and a circle for each node.
const link = svg.append("g")
    .attr("stroke", colorMap.secondary)
    .attr("stroke-opacity", 0.2)
.selectAll("line")
.data(links)
.join("line")
    .attr("stroke-width", 1);

const node = svg.append("g")
    .attr("stroke", "#fff")
    .attr("stroke-width", 1.5)
.selectAll("g")
.data(nodes)
.join("g");


// for each node, append a circle. For the main node, append an image.

node.append("circle")
    .attr("r", d => radiusMap[d[2]])
    .attr("fill", d => d[2] === "main" ? "white" : colorMap[d[2]])
    .attr("stroke", d => d[2] === "main" ? colorMap["secondary"] : "none")
    .attr("stroke-width", 1)
    .attr("stroke-opacity", 0.5);

node.filter(d => d[2] === "main")
    .append("image")
    .attr("xlink:href", "/images/favicon.svg")
    .attr("x", -30)
    .attr("y", -30)
    .attr("width", 60)
    .attr("height", 60);

// Add a drag behavior.
node.call(d3.drag()
    .on("start", dragstarted)
    .on("drag", dragged)
    .on("end", dragended));

// Set the position attributes of links and nodes each time the simulation ticks.
simulation.on("tick", () => {
link
    .attr("x1", d => d.source.x)
    .attr("y1", d => d.source.y)
    .attr("x2", d => d.target.x)
    .attr("y2", d => d.target.y);

node
    .attr("transform", d => `translate(${d.x}, ${d.y})`);
});

// Reheat the simulation when drag starts, and fix the subject position.
function dragstarted(event) {
if (!event.active) simulation.alphaTarget(0.3).restart();
event.subject.fx = event.subject.x;
event.subject.fy = event.subject.y;
}

// Update the subject (dragged node) position during drag.
function dragged(event) {
event.subject.fx = event.x;
event.subject.fy = event.y;
}
// Restore the target alpha so the simulation cools after dragging ends.
// Unfix the subject position now that it’s no longer being dragged.
function dragended(event) {
if (!event.active) simulation.alphaTarget(0);
event.subject.fx = null;
event.subject.fy = null;
}


// Append the SVG element.
container.append(svg.node());

// change the size of the svg element when the window is resized
window.addEventListener("resize", () => {
width = $(window).width();
height = $(window).height();
svg.attr("width", width)
    .attr("height", height)
    .attr("viewBox", [-width / 2, -height / 2, width, height]);


});

</script>